@import "tailwindcss";

*{
    font-family: 'Poppins';
    font-size: 16px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    margin: 16px 0;
    @apply md:text-6xl
}

h3{
    font-weight: 600;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

.button {
    background-color: #A3D270;
    border: none;
    padding: 12px 32px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    display: inline-block;
}

button:hover{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

button:active{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0);
}

.button:disabled{
    box-shadow: none;
    background-color: #A3D27050;
}

.test{
    border: red 1px solid;
}