<div id="accueil">
    @if(this.generatedMeals.length >= 1){
    <div class="repasContainer">
        <h3>Vous pouvez faire {{this.generatedMeals.length}} repas avec les ingrédients suivants :</h3>
        <div class="listeRepas">
        @for(meal of this.generatedMeals; track $index){
            <div class="repas">
                <h3>Repas {{$index + 1}}</h3>
                <p>{{ meal.protein }}</p>
                <p>{{ meal.legume }}</p>
                <p>{{ meal.feculent }}</p>
                <p>Bonus : {{ meal.autre }}</p>
            </div>
        }
        </div>
       
    </div>
    <p>Ça ne vous convient pas ?</p>
    }
    
    <p>
        <span>Cliquer sur le bouton pour génerer </span>
        <input type="number" class="input" [(ngModel)]="mealsNumber" (keyup.enter)="generateMeals()">
        <span> repas.</span></p>
    <br>
    <button (click)="generateMeals()" >Générer !</button>
</div>
