.input{
    width: 40px;
    border: 2px solid #678CA5;
    background-color: #97B8CE;
    border-radius: 8px;
    padding: 0 4px;
}

#loading {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 3px solid #CDDC91;
    border-radius: 50%;
    border-top-color: #A3D270;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }